/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.hvngb-text-block {
	padding: 20px;
	box-shadow: 0px 5px 15px 0px #ccc;
	p + p {
		margin-top: 1em;
	}
}