/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.hvngb-gb-post-headers-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, 1fr);
    gap: 5px;
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
	.wp-block-post {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background: #7f91ff;
		&:first-child {
			grid-column: 1/3;
			grid-row: 1 / 3;
		}
	}
	&__item-title {
		font-size: 1.4em;
		font-weight: bold;
		text-shadow: 0px 0px 3px #ffffff;
	}
}